*{
    box-sizing: border-box;
}
.wrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;
    max-width: 1000px;
}
.main {

}
.main__title {
    text-align: center;
}
.main__form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
}
.main__form .input-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 10px 0;
}
.main__form .input-block label {
    font-size: 20px;
    font-weight: 700;
}
.main__form .input-block input {
    width: 100%;
}
.input-block.buttons {
    display: flex;
    flex-direction: row;
}
.buttons .button-3 {
    width: 33%;
}
.main__form .button {
    width: 100%;
}

.matches {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: gray;
    padding: 20px;
    margin: 50px auto 0;
}
.matches .btn {

}
.matches__list {
    margin: 20px;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.list__item {
    margin: 5px 0;
}
.item {
    background: white;
    font-size: 0;
}
.item__content {
    position: relative;
    display: inline-block;
    width: 280px;
}
.btn .value{
    text-align: center;
    font-weight: 700;
}

.match-info {
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}
.row > *:nth-child(1){
    width: 40%;
}
.hidden {
    display: none;
}